name: Close Pull Request

on:
  pull_request_target:
    types: [opened]

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: superbrothers/close-pull-request@v3.1.2
      with:
        comment: "I do not accept PRs. Please, open or contribute to a Discussion."
